body{
    
    font-family: 'Retro New Version', sans-serif;
   

}
#about-us{
   
 
    font-family: 'Retro New Version', sans-serif;
}
#btn{
    font-family: 'Retro New Version', sans-serif;
}

@import url('https://fonts.cdnfonts.com/css/retro-new-version'); 

#shopping-cart{
    

   
    
}

#about-us-div{
    
  
   
    
    font-family: 'Retro New Version', sans-serif;


}



#main-image{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    margin-bottom: 20px;

}
.carousel-inner{
    border-radius: 1px;
}

#copyRight{
    font-size: 12px;
    font-weight: 600;
    color: rgb(69, 68, 68);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 12px;
    font-family: 'Retro New Version', sans-serif;
}

#logo{
   width: 110px;
    height: 100px;
}
#Brand-Name{
   
    
    margin-left: 10px;
   
    font-family: 'Retro New Version', sans-serif;
  

}

#slide-text{

    
    color: rgb(237, 235, 235);

    border-radius: 12px;
    font-family: 'Retro New Version', sans-serif;

}
#btn-placement{
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 3px rgb(255, 255, 255);
    border-radius: 12px;
}
#about-us-prod-image{

    height: 25%;


    
}

#about-us-secondary{
    padding: 10;
    height: 50%;
    border-radius: 12px;
   margin-bottom: 20px;
   font-family: 'Retro New Version', sans-serif;
}
#about-us-prod-image-disc{

    font-size: 5px;
}
#product-Cards{
    
}
#cart-logo{
    float: right;
    padding: 10px;

}
.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
 
.image-wrapper{
    height: 22vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-wrapper img{
    max-width: 100%;
    max-height: 100%;

}
#carouselExampleControls{

    border-color: rgba(210, 205, 205, 0.487);
    
    background-image:url(shopping-cart/Sand-Background.avif) ;
    

}
/* #btn-placement a{
    color: rgb(255, 255, 255);
    font-family: 'Retro New Version', sans-serif;
   text-align: center;
   padding-top: 10px;
   font-size: 20px;
   border-radius: 12px;
} */
#sale-alert{
    
    font-family: 'Retro New Version', sans-serif;
   text-align: center;
   padding-top: 10px;
   font-size: 20px;
   border-radius: 12px;
}
#filter-btns button{
    margin: 10px;
    font-family: 'Retro New Version', sans-serif;
    border: solid 3px rgb(50, 51, 51);
    background-color: rgb(12, 204, 238);
    border-radius: 35px;
    padding: 8px;
    font-size: 10px;
    height: 50%;
    
}
#filter-btns{
    font-family: 'Retro New Version', sans-serif;
}
#filters{
    border-top: solid 1px rgb(255, 255, 255);
}
#filter-dropdown{

    font-family: 'Retro New Version', sans-serif;
    background-color: rgb(12, 204, 238);
    
}
.card-group{
    margin-bottom: 20px;
}
.card-group label{
    font-family: 'Retro New Version', sans-serif;
    font-size: 12px;
}
#next-prev-btns button{
    margin: 10px;
    height: 100%;
    width: 9%;
    font-size: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    
    
}

#checkout-form{
   
    margin-top: 100px;
    border: solid 5px rgb(190, 179, 179);
    border-radius: 12px;

    
}
#my-bag img{

    width: 100px;
    height: 100px;
    float: left;
   
   
}
#my-bag{
    margin-top: 100px;
    border: #ffffff solid 1px;
}
#my-bag .card{
    border: #ffffff solid 4px;
}
#my-bag table{
    
   border: 12px lightblue solid; 
  
}