<div class="bg-dark"
  <footer class="bg-dark align-items-center py-3 mt-4 border-top text-center">
    <div class="row justify-content-center">
      <div class="col-md-6 text-md-start">
        <h1 class="fw-bold text-light">Contact Us</h1>
        <p class="font-monospace text-light">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
          </svg> Trumpeldor Beach, Near The Statue
        </p>
        <p class="font-monospace text-light">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
          </svg> +972544443322
        </p>
        <p class="font-monospace text-light">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
          </svg> Open: 9:00-21:00 SUN-SAT
        </p>
        <p class="font-monospace text-light">
          <span class="font-monospace text-light">Follow Us</span>
          <ul class="nav list-unstyled d-flex justify-content-start mt-2">
            <li class="me-3">
              <a class="text-light" href="https://www.facebook.com/profile.php?id=100093792799096">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                </svg>
              </a>
            </li>
            <!-- Add more social media icons here if needed -->
          </ul>
        </p>
      </div>
      <div class="col-md-6">
        <br> 
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3380.7491518148117!2d34.76222142700077!3d32.07603281947673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4c7d7f3f8ec3%3A0x3b6678bc5ab3013c!2sTrumpeldor%20Beach!5e0!3m2!1sen!2sil!4v1687777506430!5m2!1sen!2sil" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </footer>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  $(document).ready(function() {
    setTimeout(function() {
      $('#mainImg').slideUp(1000); // 1000 milliseconds for the slide effect duration
    }, 2000); // 2000 milliseconds delay before sliding up
  });
</script>

</body>
</html>
