 body {
    background-image: url('/pics/sea-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  } 
  .sorting-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .sorting-label {
    margin-right: 10px;
  }

  #sorting {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .sort-button {
    background-color: #244345;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .sort-button:hover {
    background-color:#3b676a;
  }
  
  .nav .btn-group {
    border-radius: 360px;
    border: transparent 5px solid;
  }
  
  .nav .btn-group input {
    border: 5px ;
    border-radius: 360px;
  }
  
  .nav .btn-group a {
    width: 80px;
  }
  
  #mainImg img {
    height: 580px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }
  
  .img-fluid {
    height: 66%;
  }
  
  .thumbnail img {
    width: 200px;
    max-height: 200px;
    object-fit: contain;
  }
  
  .thumbnail {
    padding: 10px;
    position: relative;
    width: 400px;
  }
  
  .thumbnail .caption {
    font-size: small;
    position: static;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .navbar {
    background-color: black;
  }
  
  .nav-link {
    color: white;
  }

  .delete-button,
  .sort-button {
    background-color:  #244345;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .delete-button:hover,
  .sort-button:hover {
    background-color: #3b676a;
  }

  /* Add opacity to the table */
  table {
    background-color: rgba(0, 0, 0, 0.8); /* Darken the background */
    border-collapse: separate;
    border-spacing: 0 5px; /* Add spacing between rows */
  }

  tbody tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  }

  .dark-row {
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the color and opacity as needed */
    color: white; /* Set text color to white for better visibility */
  }

  


  