 body {
    background-image: url('/pics/sea-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  } 
  .sorting-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .sorting-label {
    margin-right: 10px;
  }

  #sorting {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .sort-button {
    background-color: #244345;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .sort-button:hover {
    background-color:#3b676a;
  }
  
  .nav .btn-group {
    border-radius: 360px;
    border: transparent 5px solid;
  }
  
  .nav .btn-group input {
    border: 5px ;
    border-radius: 360px;
  }
  
  .nav .btn-group a {
    width: 80px;
  }
  
  #mainImg img {
    height: 580px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }
  
  .img-fluid {
    height: 66%;
  }
  
  .thumbnail img {
    width: 200px;
    max-height: 200px;
    object-fit: contain;
  }
  
  .thumbnail {
    padding: 10px;
    position: relative;
    width: 400px;
  }
  
  .thumbnail .caption {
    font-size: small;
    position: static;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .navbar {
    background-color: black;
  }
  
  .nav-link {
    color: white;
  }
  
   /* #men-prod {
    background-color: rgba(255, 255, 255, 0.5);
  } */
  
  /* #men-prod {
    background-image: url('/views/pics/golshim2%202.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */
/* Add this to your existing CSS */
.cart-page {
  font-weight: bold;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100vh; /* גובה המסך */
  background-image: url("pics/Sand-Background 2.avif");
  background-size: cover; /* כך שהתמונה תכסה את כל הרקע */
  background-position: center; /* מרכז התמונה יהיה מרכז הרקע */
  background-repeat: no-repeat; /* אין חזרה של התמונה */
  background-color: transparent; /* Set the background color to transparent */
  padding: 0; /* Remove any padding */
  margin: 0; /* Remove any margin */

}
.wish-page {
  font-weight: bold;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100vh; /* גובה המסך */
  background-image: url("pics/Sand-Background 2.avif");
  background-size: cover; /* כך שהתמונה תכסה את כל הרקע */
  background-position: center; /* מרכז התמונה יהיה מרכז הרקע */
  background-repeat: no-repeat; /* אין חזרה של התמונה */
  background-color: transparent; /* Set the background color to transparent */

}
.show1container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensures that the container takes at least the full viewport height */
}
.cart{
  background-color: transparent; /* Set the background color to transparent */

}
