 body {
    background-image: url('/pics/sea-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  } 
  .sorting-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .sorting-label {
    margin-right: 10px;
  }

  #sorting {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .sort-button {
    background-color: #244345;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .sort-button:hover {
    background-color:#3b676a;
  }
  
  .nav .btn-group {
    border-radius: 360px;
    border: transparent 5px solid;
  }
  
  .nav .btn-group input {
    border: 5px ;
    border-radius: 360px;
  }
  
  .nav .btn-group a {
    width: 80px;
  }
  
  #mainImg img {
    height: 580px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }
  
  .img-fluid {
    height: 66%;
  }
  
  .thumbnail img {
    width: 200px;
    max-height: 200px;
    object-fit: contain;
  }
  
  .thumbnail {
    padding: 10px;
    position: relative;
    width: 400px;
  }
  
  .thumbnail .caption {
    font-size: small;
    position: static;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .navbar {
    background-color: black;
  }
  
  .nav-link {
    color: white;
  }
  


  