.img-fluid{
    height: 66%;
}
.thumbnail img{
    width:  300px;
    height: 300px;
    object-fit: cover;
}
.thumbnail{
   padding: 10px;
   border: 2px solid #000000;
   position: relative;
   height: 450px;
   
}


.thumbnail .caption{
    font-size: small;
    position: static;
    margin-top: 10px;
    margin-bottom: 15px;
    
}

.thumbnail .a{
  
    
}