body{
   
    font-family: "Poppins", sans-serif;
   

}

@import url('https://fonts.cdnfonts.com/css/retro-new-version'); 


  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
 

#next-prev-btns button{
    margin: 10px;
    height: 100%;
    width: 9%;
    font-size: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    
    
}
.card-group img{
   height: 66%;
}

